<body>
    <div class="Division">
        <h4> Control Panel </h4>
        <p>Message: {{message}}</p>
        <form action="/forwards" method="post">
            <button name="forwardBtn" type="submit">Forward</button>
        </form>

        <form action="/backwards" method="post">
            <button name="backBtn" type="submit">Back</button>
        </form>

        <form action="/left" method="post">
            <button name="leftBtn" type="submit">Left</button>
        </form>

        <form action="/right" method="post">
            <button name="rightBtn" type="submit">Right</button>
        </form>
    </div>
</body>